$iconwidth: 56px;
.sidenav-toogle {

    padding: 0;
    margin: 8px;
    min-width: $iconwidth;
    display: none;
   @media (max-width: 720px) {
       display: flex;
       align-items: center;
       justify-content: center;
   }

   mat-icon {
       font-size: 30px;
       height: $iconwidth;
       width: $iconwidth;
       line-height: $iconwidth;
       color: white;
   }
}